/**
* Tugas Untuk Binar Academy
* Author Zuhri Saifudin
* Wave 10
* Fasil Arie May
*/


/*Global Setting*/



body {
  color: #fff;
  line-height: 1;
}

@font-face {
font-family: 'Apercu';
src: url('../assets/fonts/ApercuPro-Medium.woff') format('woff');
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: 'Apercu';
src: url('../assets/fonts/ApercuPro-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Apercu';
src: url('../assets/fonts/ApercuPro-Bold.woff') format('woff');
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'Apercu';
src: url('../assets/fonts/ApercuPro-Light.woff') format('woff');
font-weight: 300;
font-style: normal;
}
  

/*--------------------------------------------------------------
# Navigation 
--------------------------------------------------------------*/

#header {
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
  z-index: 997;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.5);
  height: 90px;
}
.pading-12{
  padding-top: 12px;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
#header .logo > a{
  color: #fff;
  text-decoration: none
}

.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  padding: 10px 0 10px 28px;
}
.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Apercu", sans-serif;
  font-size: 15px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;

}


/*--------------------------------------------------------------
# Sign Up From
--------------------------------------------------------------*/
.signup-form{
  padding-right: 15px;
}



.signup-form a:hover {
  color: #34b7a7;
}
.signup-form-ul{
  display: inline-flex;
}
.signup-form-ul > li > a{
  font-family: "Apercu", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
.signup-form-ul > li:last-child{
  margin-left: 10px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero{
	background-image: url("../assets/img/main-bg.jpg");
	background-size: cover;
	height: 100vh;

}
.hero-header{
    font-family: 'Bebas Neue', cursive;
	color: #fff;
    font-size: 80px;
	line-height: 2em;
}
.hero-desc{
    font-family: 'Bebas Neue', cursive;
	color: #fff;
	line-height: 2em;
}
.btn-play{
	height: 55px;
	width: 250px;
	color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
    text-align: center;
    padding-top: 14px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;

}
.

/*--------------------------------------------------------------
# Games Section
--------------------------------------------------------------*/

#games{
  height: 100vh;
  background-image: url("../assets/img/the-games-bg.jpg");
}
.games-pt{
  padding-top: 15%;
}
.games-header{
  font-family: 'Apercu';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: left;
}
.games-desc{
  font-family: 'Apercu';
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 3px;
  text-align: left;

}

/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/

#features{
  height: 100vh;
  background-size:cover ;
  background-image: url("../assets/img/features.jpg");
}